<div id="header"></div>

<body id="grad">
	<div align="middle">
		<img class="center-align" src="./images/pokemonlogo.gif" alt="rathalos" style="width:700px;height:300px">
		</img>
	</div>
	<div align="middle">
		<a href="Page2.html">
			<img class="center-align" border="0" alt="W3Schools" src="/images/pikachu.png" width="600" height="500">
		</a>
	</div>
	<div id="link2" class="text">
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../scripts/global_defs.js"></script>
</body>

<div id="footer"></div>