#grad {
    background: -webkit-linear-gradient(blue, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, yellow); /* Standard syntax (must be last) */
}

#background {
    background-color: #ff0000;
    position: relative;
}

#top-navbar {
    background-color: #3F3F3F;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    height: 50px;
}

#bottom-navbar {
    background-color: #3F3F3F;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    height: 100px;
}

#bottom-navbar-container {
        position: absolute;
    bottom: 0;
}

#navbar-title {
    vertical-align: central;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

.navbar-link {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-right: 20px;
    color: white;
    font-size: 12px;
}
